In [7]:
#reading in data
import pandas as pd
c_approvals = pd.read_csv('C:\\Users\kanem\Documents\MLcreditapp\crx.csv', header = None)
#data is anonymized for privacy/ Columns are unlabeled
c_approvals.head()

  0      1      2  3  4  5  6     7  8  9   10 11 12   13   14 15
0  b  30.83  0.000  u  g  w  v  1.25  t  t   1  f  g  202    0  +
1  a  58.67  4.460  u  g  q  h  3.04  t  t   6  f  g   43  560  +
2  a   24.5  0.500  u  g  q  h  1.50  t  f   0  f  g  280  824  +
3  b  27.83  1.540  u  g  w  v  3.75  t  t   5  t  g  100    3  +
4  b  20.17  5.625  u  g  w  v  1.71  t  f   0  f  s  120    0  +

In [20]:
#understanding structure of df and summarizing data
cc_des = c_approvals.describe()
print(cc_des)
print("\n")
cc_app = c_approvals.info()
print(cc_app)
print("\n")
cc_start = c_approvals.head(10)
print(cc_start)
print("\n")
cc_end = c_approvals.tail(10)
print(cc_end)

               2           7          10             14
count  690.000000  690.000000  690.00000     690.000000
mean     4.758725    2.223406    2.40000    1017.385507
std      4.978163    3.346513    4.86294    5210.102598
min      0.000000    0.000000    0.00000       0.000000
25%      1.000000    0.165000    0.00000       0.000000
50%      2.750000    1.000000    0.00000       5.000000
75%      7.207500    2.625000    3.00000     395.500000
max     28.000000   28.500000   67.00000  100000.000000


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 690 entries, 0 to 689
Data columns (total 16 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       690 non-null    object
 1   1       690 non-null    object
 2   2       690 non-null    float64
 3   3       690 non-null    object
 4   4       690 non-null    object
 5   5       690 non-null    object
 6   6       690 non-null    object
 7   7       690 non-null    float64
 8   8       690 non-null    object
 9   9       690 non-null    object
 10  10      690 non-null    int64
 11  11      690 non-null    object
 12  12      690 non-null    object
 13  13      690 non-null    object
 14  14      690 non-null    int64
 15  15      690 non-null    object
dtypes: float64(2), int64(2), object(12)
memory usage: 86.4+ KB
None


  0      1       2  3  4   5  6      7  8  9   10 11 12   13     14 15
0  b  30.83   0.000  u  g   w  v  1.250  t  t   1  f  g  202      0  +
1  a  58.67   4.460  u  g   q  h  3.040  t  t   6  f  g   43    560  +
2  a   24.5   0.500  u  g   q  h  1.500  t  f   0  f  g  280    824  +
3  b  27.83   1.540  u  g   w  v  3.750  t  t   5  t  g  100      3  +
4  b  20.17   5.625  u  g   w  v  1.710  t  f   0  f  s  120      0  +
5  b  32.08   4.000  u  g   m  v  2.500  t  f   0  t  g  360      0  +
6  b  33.17   1.040  u  g   r  h  6.500  t  f   0  t  g  164  31285  +
7  a  22.92  11.585  u  g  cc  v  0.040  t  f   0  f  g   80   1349  +
8  b  54.42   0.500  y  p   k  h  3.960  t  f   0  f  g  180    314  +
9  b   42.5   4.915  y  p   w  v  3.165  t  f   0  t  g   52   1442  +


    0      1       2  3  4   5   6      7  8  9   10 11 12   13   14 15
680  b   19.5   0.290  u  g   k   v  0.290  f  f   0  f  g  280  364  -
681  b  27.83   1.000  y  p   d   h  3.000  f  f   0  f  g  176  537  -
682  b  17.08   3.290  u  g   i   v  0.335  f  f   0  t  g  140    2  -
683  b  36.42   0.750  y  p   d   v  0.585  f  f   0  f  g  240    3  -
684  b  40.58   3.290  u  g   m   v  3.500  f  f   0  t  s  400    0  -
685  b  21.08  10.085  y  p   e   h  1.250  f  f   0  f  g  260    0  -
686  a  22.67   0.750  u  g   c   v  2.000  f  t   2  t  g  200  394  -
687  a  25.25  13.500  y  p  ff  ff  2.000  f  t   1  t  g  200    1  -
688  b  17.92   0.205  u  g  aa   v  0.040  f  f   0  f  g  280  750  -
689  b     35   3.375  u  g   c   h  8.290  f  f   0  t  g    0    0  -

In [ ]:
from sklearn.model_selection import train_test_split